<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Question</title>
    <!-- <link rel="stylesheet" type="text/css" href="view.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
</head>
<body>
        <center>
        <h1 style="color: red;">Added Questions</h1>
        </center>
        <a href="/">
            <button id="addQuestion" class="btn btn-success" style="float:right;margin-right: 10px;">Add Question</button>
        </a>
        <a href="/homePage">
            <button id="userView" class="btn btn-warning" style="float:right;margin-right: 10px;">User View</button>
        </a>
        <div id="questionPanel" style="margin-left: 200px;margin-right: 200px;">
        <% for(var i=0; i < data.length; i++){ %>
            <div>
        <p>Q<%= i+1 %>: <%= data[i].question %></p>
        <p>1. <%= data[i].opt1 %></p>
        <p>2. <%= data[i].opt2 %></p>
        <p>3. <%= data[i].opt3 %></p>
        <p>4. <%= data[i].opt4 %></p>
        <p><b>Ans: </b><%= data[i].ans %></p>
        <a href="/editQuestion/<%= data[i]._id %>">
            <button class="btn btn-primary editQuestion" style="margin-left: 0px;">Edit</button>
        </a>
        <button id="<%= data[i]._id %>" class="btn btn-danger deleteQuestion" style="margin-left: 10px;">Delete</button>
        <hr>
            </div>
        <% } %>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="http://127.0.0.1:5000/view.js" type="text/javascript"></script>
    <!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
</body>
</html>